@import "app/styles/helpers/variables";
@import "app/styles/helpers/mixins";

.root {
}

.title {
  margin-bottom: 40px;
}

.items {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @include media($md) {
    flex-direction: column;
    gap: 24px;
  }
}

.item {
  padding: 32px 40px;
  width: 100%;
  border: 1px solid var(--Colors-Black-600, #505050);
  border-radius: var(--Spacing-Space-2, 8px);

  @include media($lg) {
    padding: 16px;
  }

  &:nth-child(even) {
    @include min-media($lg) {
      max-width: 230px;
    }
  }
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  white-space: nowrap;
  color: var(--Text-Accent, #ffde00);

  @include media($sm) {
    font-size: 24px;
  }

  span {
    text-decoration-line: line-through;
  }
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--Text-colors-Secondary, #ccc);

  @include media($sm) {
    font-size: 16px;
  }
}
